-# = button_tag "Register", class: 'btn btn-primary', id: "toggle-button"

%h1 Register your interest

= form_for @attendee, remote: true do |f|
  .box
    %section#inputs
      %ol
        %li
          = f.label :first_name
          = f.text_field :first_name
        %li
          = f.label :last_name
          = f.text_field :last_name
        %li
          = f.label :email_address
          = f.email_field :email_address

    %section#buttons
      %ol
        %li
          = f.submit "Register!", class: 'btn', id: :submit
          = link_to 'Cancel', "/"
