%h1 About TEDx Brisbane

%p= I18n.t('about.p1')

%p= I18n.t('about.p2')

%p Tickets for the event are #{adult_price} for adults and #{student_price} for students/concession.  Whilst we would love to have everyone along, our venue can only fit so many and there are a lot more applications than tickets, so we are sorry in advance if we can't offer you a spot.


= render "pages/submission_form", attendee: @attendee

