%h1 About TEDx Brisbane

%p= I18n.t('about.p1')

%p= I18n.t('about.p2')

%p Tickets for the event are #{adult_price} for adults and #{student_price} for students/concession. Whilst we would love to have everyone along, our venue can only fit so many and there are a lot more applications than tickets, so we are sorry in advance if we can't offer you a spot.  If your registration is successful, you will be sent an invitation to attend in a few weeks, that will contain the link to pay, and to secure your ticket.  It is very important that payment is made within three business days following receipt so we have time to offer the ticket to someone else, if you can no longer make it.


= render "pages/submission_form", attendee: @attendee

