%h1= "Purchasing a ticket for #{@attendee.email_address}"

= form_for :transaction, url: confirm_payment_path(token: @token), html: { id: "new_payment", autocomplete: "off" } do |f|

  .box

    %section#inputs

      %ol
        %legend Your details

        = f.fields_for :customer do |c|

          %li.half-width
            = c.label :first_name, "First Name"
            = c.text_field :first_name, value: @attendee.first_name

          %li.half-width
            = c.label :last_name, "Last Name"
            = c.text_field :last_name, value: @attendee.last_name

        %li
          = label_tag :student_amount,"Tickets cost: "
          = select_tag :student_amount, options_for_select([["$#{TICKET.price_in_dollars}", false],["$#{TICKET.price_in_dollars_for_student} for students", true]],
                                                               ["$#{TICKET.price_in_dollars}", false])
      %ol

        %legend Credit Card

        = f.fields_for :credit_card do |c|

          %legend.credit-cards
            = c.radio_button :type, 'master'
            %label.credit-card= image_tag 'icons/mastercard.png'
            = c.radio_button :type, 'visa'
            %label.credit-card= image_tag 'icons/visa.png'

          %li
            = c.label :number, "Number"
            = c.text_field :number

          %li.half-width
            = c.label :expiration_date, "Expiration Date (MM/YY)"
            = c.text_field :expiration_date

          %li.half-width
            = c.label :cvv, "CVV"
            = c.text_field :cvv

    %section#buttons
      %ol
        %li
          .submit-container
            = f.submit "Submit", class: 'btn btn-large'
          = link_to 'Cancel', root_path
