%h1= "Purchasing a ticket for #{@attendee.email_address}"
= hidden_field_tag :tr_data_normal,  @tr_data
= hidden_field_tag :tr_data_student, @tr_data_student

= form_for :transaction, url: Braintree::TransparentRedirect.url, html: { autocomplete: "off" } do |f|

  .box

    %section#inputs

      %ol
        %legend Your details

        = f.fields_for :customer do |c|

          %li
            = c.label :first_name, "First Name"
            = c.text_field :first_name, value: @attendee.first_name

          %li
            = c.label :last_name, "Last Name"
            = c.text_field :last_name, value: @attendee.last_name

        = label_tag :student_amount,"Tickets cost: "
        = select_tag :student_amount, options_for_select([["$#{TICKET.price_in_dollars}", false],["$#{TICKET.price_in_dollars_for_student} for students", true]],
                                                               ["$#{TICKET.price_in_dollars}", false])
      %ol
        %legend Credit Card

        = f.fields_for :credit_card do |c|

          %li
            = c.label :number, "Number"
            = c.text_field :number

          %li
            = c.label :expiration_date, "Expiration Date (MM/YY)"
            = c.text_field :expiration_date

          %li
            = c.label :cvv, "CVV"
            = c.text_field :cvv

          = hidden_field_tag :tr_data, @tr_data

    %section#buttons
      %ol
        %li
          = f.submit "Submit", class: 'btn'
          = link_to 'Cancel', root_path
