<ul>
  <li id="received_invitation">
    <label>Received Invitation</label>
    <p>{{ received_invitation }}</p>
  </li>

  <li id="awaiting_invitation">
    <label>Awaiting Invitation</label>
    <p>{{ awaiting_invitation }}</p>
  </li>

  <li id="declined">
    <label>Declined</label>
    <p>{{ declined }}</p>
  </li>

  <li id="paid">
    <label>Paid</label>
    <p>{{ paid }}</p>
  </li>

  <li id="received_reminder">
    <label>Received Reminder</label>
    <p>{{ received_reminder }}</p>
  </li>

  <li id="confirmed">
    <label>Confirmed</label>
    <p>{{ confirmed }}</p>
  </li>
</ul>
