%strong{style: 'font-size: 1.5em;'}= "You're invited, #{attendee.first_name}."

%p
  You've been invited to TEDxBrisbane 2013.

%p Buy a ticket for $0.00 and join other people like you etc.

%p= email_button 'Buy ticket', EmailLink.pay(attendee)

%p
  If you wish to cancel your registation, click
  = email_anchor "here.", EmailLink.decline(attendee)

= render 'emails/email_footer'
