%p Hi there,

%p Thank you for your payment!

%p
  %strong A couple of important reminders for the day:

%ul{style: "list-style-type: square; list-style-position: outside; padding: 0 0 0 1em;"}
  %li{style: "margin: 0 0 .5em;"} Registration #{Event.registration_open_and_close_time}, so please ensure you have picked up your personalised name tag by this time.

  %li{style: "margin: 0 0 .5em;"} Conference starts at #{Event.doors_open_at} sharp.

  %li{style: "margin: 0 0 .5em;"} TEDxBrisbane is a full day event, concluding with drinks #{Event.drink_time_range}. Lunch will be served in the Ideas worth Spreading Tent.

  %li{style: "margin: 0 0 .5em;"} No video or flash photography is permitted in the theatres.

  %li{style: "margin: 0 0 .5em;"} If you wish to dine at the #{Event.location} after the event – we suggest you make a reservation, as it will be a busy day.

  %li{style: "margin: 0 0 .5em;"} In attending TEDxBrisbane #{Event.date.year}, you may be filmed or photographed. If you have a problem with this, please inform the photographer.

  %li{style: "margin: 0 0 .5em;"} In attending TEDxBrisbane #{Event.date.year}, you are bound by all the conditions of entry to the #{Event.location}.

  %li{style: "margin: 0 0 .5em;"} Twitter hashtag is #TEDxBrisbane.

%p We look forward to sharing an amazing experience with you.

= render 'emails/email_footer'
