%p= "Dear #{attendee.first_name},"

%p You have successfully registered your interest for TEDxBrisbane #{Event.date.year}!

%p
  This year's TEDxBrisbane is a full day event concluding with drinks in the
  evening from #{Event.drink_time_range}. Lunch will be served in the
  %em Ideas Worth Spreading
  tent.

%p
  TEDxBrisbane will fill the #{Event.location} with an eclectic mix of thinkers,
  dreamers and doers for a full day of inspiration and adventure.


= email_divider

%p
  Tickets for the event are #{Event.price_in_dollars} for adults and
  = Event.price_in_dollars_for_student
  for students/concession. Whilst we would love to have everyone along, our venue
  can only fit so many and there are a lot more applications than tickets, so we
  are sorry in advance if we can't offer you a spot.


%p
  Thanks again you for your interest. If you receive an invitation for the event,
  we'll send you another email. If you wish to cancel your registration, click
  = email_anchor "here.", EmailLink.decline(attendee)

= render 'emails/email_footer'
